<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.ssnote" >

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity android:name=".activity.FirstActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".activity.EditNoteActivity" >
        </activity>
        <activity android:windowSoftInputMode="adjustPan" android:name=".activity.AddNoteActivity" />
        <activity
            android:name=".activity.Edit_State"
            android:label="@string/title_activity_edit__state" >
        </activity>
        <activity android:name=".activity.NoticeActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <service android:name=".service.RemindService">

        </service>
        <receiver android:name=".recieve.Remind" ></receiver>
    </application>

</manifest>
